cachetools==5.3.3
certifi==2024.6.2
charset-normalizer==3.3.2
distlib==0.3.8
filelock==3.13.3
google-auth==2.30.0
idna==3.7
platformdirs==4.2.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
requests==2.32.3
rsa==4.9
urllib3==2.2.2
virtualenv==20.25.1
